// Pagination
//
// Extend Bulma pagination.
//
// Styleguide: Component.Pagination

.pagination {
  .pagination-previous,
  .pagination-next,
  .pagination-link {
    border: 0;
    font-weight: 700;
    &:hover {
      color: $white;
      background-color: $dark;
    }
    &[disabled] {
      color: $dark;
      background-color: inherit;
    }
  }
}
