// Footer
//
// Extends Bulma footer component.
//
// Styleguide: Component.Footer

.footer {
  font-size: $size-6;
  font-weight: 700;
  color: $dark;
  padding: 0 1.5rem 3rem 1.5rem;
  //
  a {
    color: currentColor;
  }
  a:hover {
    color: $blue;
    text-decoration: underline;
  }
  //
  .container {
    padding-top: 3em;
    @extend %bigborder;
  }
  .footer-logo .icon {
    display: inline-block;
    margin-top: -0.325em;
    font-size: 4.5em;
    //
    .agc {
      display: block;
    }
  }
}
