{# Overrides octavia/src/templates/block/block.html.twig #}
{% extends '@bulma/block/block.html.twig' %}
{%
  set classes = [
    'titlebar_title'
  ]
%}
{% set attributes = attributes.addClass(classes) %}
