{# See "@stable/block/block.html.twig" #}
{# TODO probably let this go back to inheriting from Octavia/Bulma #}
<div {{ attributes.addClass('column') }}>
{% block content %}
  {{ content }}
{% endblock %}
</div>
