{% extends "@stable/form/container.html.twig" %}
{# TODO this should never be both at once, so a huge TODO is to add template
   suggestions for the container template.  Right now there are *none* #}
{% set attributes = attributes.addClass(["field", "container"]) %}
