{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html

  NOTE: We aren't using the passed-in attributes, perhaps this
  is also something to revisit in
  https://gitlab.com/agaric/sites/agaric-com/issues/77
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}
{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% set submenu_attributes = create_attribute() %}
  {% import _self as menus %}
  {% set submenu_classes = [
    'navbar-item',
    'navbar-dropdown',
    'is-hoverable',
  ] %}
  {% if items %}
    {% if menu_level != 0 %}
      <div{{ submenu_attributes.addClass(submenu_classes) }}>
    {% endif %}
    {% for item in items %}
      {% set link_attributes = create_attribute().addClass('navbar-item') %}
      {% if item.in_active_trail %}
        {% set link_attributes = link_attributes.addClass('is-active') %}
      {% endif %}
      {{ link(item.title, item.url, link_attributes) }}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
