<section class="section related" data-headerbg="light">
  <div class="container">
    <div class="titlebar titlebar-bigborder content">
      <div class="titlebar_title">
        <h3 class="subtitle is-mono is-4">Recent Projects</h3>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a href="#" class="card card-project is-small is-berry">
          <div class="card-image" style="background-image:url(../assets/img/fpo-backupify-berry.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Backupify</p>
            <p class="subtitle">Secure cloud management tool</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="card card-project is-small is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-findit-cinnamon.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Find It Cambridge</p>
            <p class="subtitle">Community directory</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="card card-project is-small is-dandelion">
          <div class="card-image" style="background-image:url(../assets/img/fpo-pih-dandelion.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Partners in Health</p>
            <p class="subtitle">Multi-lingual global website</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
