<section class="section related" data-headerbg="light">
  <div class="container">
    <div class="titlebar titlebar-bigborder content">
      <div class="titlebar_title">
        <h3 class="subtitle is-mono is-4">Recent Initiatives</h3>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a href="#" class="card card-project is-small is-berry">
          <div class="card-image" style="background-image:url(../assets/img/fpo-stretch.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Drupal Training</p>
            <p class="subtitle">Ut wisi enim ad minim veniam</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="card card-project is-small is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mentor-laptop.jpg)">
          </div>
          <div class="card-content">
            <p class="title">May&nbsp;First / People&nbsp;Link</p>
            <p class="subtitle">Ut wisi enim ad minim veniam</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="card card-project is-small is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-education.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Drupal 8 Migration</p>
            <p class="subtitle">Ut wisi enim ad minim veniam</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
