<div class="titlebar content">
  <div class="titlebar_title">
    <h3 class="subtitle is-mono is-4">Work</h3>
  </div>
  <div class="titlebar_links">
    <a href="#">More</a>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-4">
    <div class="tile">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <a href="#" class="tile is-child card card-project is-cinnamon">
              <div class="card-image" style="background-image:url(../assets/img/fpo-drtb-connamon.jpg)">
              </div>
              <div class="card-content">
                <p class="title">DRTB Network</p>
                <p class="subtitle">Community directory</p>
              </div>
            </a>
          </div>
        </div>
        <div class="tile is-parent">
          <a href="#" class="tile is-child card card-project is-berry">
            <div class="card-image" style="background-image:url(../assets/img/fpo-backupify-berry.jpg)">
            </div>
            <div class="card-content">
              <p class="title">Backupify</p>
              <p class="subtitle">Secure cloud management portal</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-parent is-8">
    <a href="#" class="tile is-child card card-project is-large is-blue">
      <div class="card-image" style="background-image:url(../assets/img/fpo-mass-blue.jpg)">
      </div>
      <div class="card-content">
        <p class="title">MASS Design Group</p>
        <p class="subtitle">Global humainitarian architecture firm</p>
      </div>
    </a>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <a href="#" class="tile is-child card card-project is-marine">
      <div class="card-image" style="background-image:url(../assets/img/fpo-mit-marine.jpg)">
      </div>
      <div class="card-content">
        <p class="title">MIT</p>
        <p class="subtitle">Multi-faceted data migration</p>
      </div>
    </a>
  </div>
  <div class="tile is-parent ">
    <a href="#" class="tile is-child card card-project is-dandelion">
      <div class="card-image" style="background-image:url(../assets/img/fpo-pih-dandelion.jpg)">
      </div>
      <div class="card-content">
        <p class="title">Partners in Health</p>
        <p class="subtitle">Mluti-lingual global website</p>
      </div>
    </a>
  </div>
  <div class="tile is-parent">
    <a href="#" class="tile is-child card card-project is-cinnamon">
      <div class="card-image" style="background-image:url(../assets/img/fpo-findit-cinnamon.jpg)">
      </div>
      <div class="card-content">
        <p class="title">Find It Cambridge</p>
        <p class="subtitle">Community directory</p>
      </div>
    </a>
  </div>
</div>
