---
title: "Team"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="titlebar">
            <div class="titlebar_title">
              <h1 class="title is-2">Team</h1>
            </div>
            <div class="titlebar_links">
              <div class="tabs">
                <ul>
                  <li class="is-active"><a>Active Members</a></li>
                  <li><a>Past Members</a></li>
                  <li><a>Partners</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/content}}
  {{#content "content"}}
    <div class="columns is-equal-height is-multiline">
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-marine">
          <div class="card-image" style="background-image:url(../assets/img/fpo-ben.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Ben Melançon</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-micky.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Micky Metts</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mauricio.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Mauricio Dinarte</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-micky.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Micky Metts</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mauricio.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Mauricio Dinarte</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-marine">
          <div class="card-image" style="background-image:url(../assets/img/fpo-ben.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Ben Melançon</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-marine">
          <div class="card-image" style="background-image:url(../assets/img/fpo-ben.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Ben Melançon</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-micky.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Micky Metts</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mauricio.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Mauricio Dinarte</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-micky.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Micky Metts</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mauricio.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Mauricio Dinarte</p>
            <p class="subtitle">Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-marine">
          <div class="card-image" style="background-image:url(../assets/img/fpo-ben.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Ben Melançon</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </a>
      </div>
    </div>
  {{/content}}
{{/extend}}
