---
title: "Event"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero" data-headerbg="light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-2">Event Title</h1>
        </div>
      </div>
    </section>
  {{/content}}
  {{#content "content"}}
    <div class="columns content">
      <div class="column is-one-third">
        <img src="../assets/img/fpo-landscape.png" alt="">
      </div>
      <div class="column is-two-thirds">
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro hic totam debitis voluptate. Blanditiis iste expedita reprehenderit consequatur veritatis, nam sunt odio dolor ratione omnis veniam tempore provident labore libero.</p>
        <div class="coltrol">
          <button class="button is-primary is-rounded">Register</button>
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "postcontent"}}
    {{> related_events }}
  {{/content}}
{{/extend}}
