---
title: "Bulma"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero hero-project is-blue">
      <div class="container">
        <div class="hero-image">
          <img src="../assets/img/fpo-mass-blue.jpg" alt="">
        </div>
        <div class="hero-body">
          <h1 class="title">Project title</h1>
          <h2 class="subtitle">Primary subtitle</h2>
        </div>
      </div>
    </section>
    <section class="hero hero-initiative is-cinnamon">
      <div class="container">
        <div class="hero-image">
          <img src="../assets/img/fpo-findit-cinnamon.jpg" alt="">
        </div>
        <div class="hero-body">
          <h1 class="title">Initiative title</h1>
          <h2 class="subtitle">Primary subtitle</h2>
        </div>
      </div>
    </section>
    <section class="hero hero-person is-marine">
      <div class="container">
        <div class="hero-image">
          <img src="../assets/img/fpo-nic-marine.jpg" alt="">
          <h1 class="title">Initiative title</h1>
        </div>
        <div class="hero-body">
          <h2 class="subtitle">Primary subtitle</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maxime quasi facere accusamus doloribus praesentium in eum tenetur tempora laborum, dolorum consequuntur nesciunt, quam laudantium sunt cumque recusandae dolor incidunt.</p>
        </div>
      </div>
    </section>
    <section class="hero is-light" data-headerbg="light">
      {{>carousel}}
    </section>
  {{/content}}
  {{#content "content"}}
    <div class="columns">
      <div class="column is-one-third">
        <a href="#" class="card card-project is-small is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-findit-cinnamon.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Project Title</p>
            <p class="subtitle">Project Subtitle</p>
          </div>
        </a>
      </div>
      <div class="column is-two-thirds">
        <a href="#" class="card card-project is-large is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mass-blue.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Project Title</p>
            <p class="subtitle">Project Subtitle</p>
          </div>
        </a>
      </div>
    </div>
    <div class="columns is-equal-height is-multiline">
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-marine">
          <div class="card-image" style="background-image:url(../assets/img/fpo-nic-marine.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Initiative Title</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <div class="card card-project is-small is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mass-blue.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Project Title</p>
            <p class="subtitle">Project Subtitle: no link</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="is-breakout">
      Breakout
    </div>
    <hr>
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image">
          <img src="../assets/img/fpo-economiescollective-cinnamon.jpg" alt="">
          <figcaption>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </figcaption>
        </figure>
      </div>
    </div>
    <hr>
    <div class="content">
      <h3>Agaricons</h3>
      <p><span class="icon is-small" style="border: 1px dotted red;"><i class="agc agc-logo"></i></span> agc-logo is-small</p>
      <p><span class="icon is-medium" style="border: 1px dotted red;"><i class="agc agc-logo"></i></span> agc-logo is-medium</p>
      <p><span class="icon is-large" style="border: 1px dotted red;"><i class="agc agc-logo"></i></span> agc-logo is-large</p>
      <p><span class="icon"><i class="agc agc-logo"></i></span> agc-logo is-large</p>
      <p><span class="icon"><i class="agc agc-video"></i></span> agc-video</p>
      <p><span class="icon"><i class="agc agc-photo"></i></span> agc-photo</p>
      <p><span class="icon"><i class="agc agc-print"></i></span> agc-print</p>
      <p><span class="icon"><i class="agc agc-locked"></i></span> agc-locked</p>
      <p><span class="icon"><i class="agc agc-search"></i></span> agc-search</p>
      <p><span class="icon"><i class="agc agc-zoom-in"></i></span> agc-zoom-in</p>
      <p><span class="icon"><i class="agc agc-zoom-out"></i></span> agc-zoom-out</p>
      <p><span class="icon"><i class="agc agc-help"></i></span> agc-help</p>
      <p><span class="icon"><i class="agc agc-alert"></i></span> agc-alert</p>
      <p><span class="icon"><i class="agc agc-gear-1"></i></span> agc-gear-1</p>
      <p><span class="icon"><i class="agc agc-gear-2"></i></span> agc-gear-2</p>
      <p><span class="icon"><i class="agc agc-cloud-1"></i></span> agc-cloud-1</p>
      <p><span class="icon"><i class="agc agc-cloud-2"></i></span> agc-cloud-2</p>
      <p><span class="icon"><i class="agc agc-chart-up"></i></span> agc-chart-up</p>
      <p><span class="icon"><i class="agc agc-target-1"></i></span> agc-target-1</p>
      <p><span class="icon"><i class="agc agc-target-2"></i></span> agc-target-2</p>
      <p><span class="icon"><i class="agc agc-at"></i></span> agc-at</p>
      <p><span class="icon"><i class="agc agc-hash"></i></span> agc-hash</p>
      <p><span class="icon"><i class="agc agc-quote-1"></i></span> agc-quote-1</p>
      <p><span class="icon"><i class="agc agc-quote-2"></i></span> agc-quote-2</p>
      <p><span class="icon"><i class="agc agc-mail"></i></span> agc-mail</p>
      <p><span class="icon"><i class="agc agc-rss"></i></span> agc-rss</p>
      <p><span class="icon"><i class="agc agc-youtube"></i></span> agc-youtube</p>
      <p><span class="icon"><i class="agc agc-check"></i></span> agc-check</p>
      <p><span class="icon"><i class="agc agc-alarm"></i></span> agc-alarm</p>
      <p><span class="icon"><i class="agc agc-clock"></i></span> agc-clock</p>
      <p><span class="icon"><i class="agc agc-x"></i></span> agc-x</p>
      <p><span class="icon"><i class="agc agc-plus"></i></span> agc-plus</p>
      <p><span class="icon"><i class="agc agc-crossbar"></i></span> agc-crossbar</p>
      <p><span class="icon"><i class="agc agc-xbar"></i></span> agc-xbar</p>
      <p><span class="icon"><i class="agc agc-document"></i></span> agc-document</p>
      <p><span class="icon"><i class="agc agc-server"></i></span> agc-server</p>
      <p><span class="icon"><i class="agc agc-phone"></i></span> agc-phone</p>
      <p><span class="icon"><i class="agc agc-python"></i></span> agc-python</p>
      <p><span class="icon"><i class="agc agc-facebook"></i></span> agc-facebook</p>
      <p><span class="icon"><i class="agc agc-twitter"></i></span> agc-twitter</p>
      <p><span class="icon"><i class="agc agc-happy"></i></span> agc-happy</p>
      <p><span class="icon"><i class="agc agc-sad"></i></span> agc-sad</p>
      <p><span class="icon"><i class="agc agc-coop"></i></span> agc-coop</p>
      <p><span class="icon"><i class="agc agc-d8"></i></span> agc-d8</p>
      <p><span class="icon"><i class="agc agc-drop-1"></i></span> agc-drop-1</p>
      <p><span class="icon"><i class="agc agc-drop-2"></i></span> agc-drop-2</p>
      <p><span class="icon"><i class="agc agc-arcade-1"></i></span> agc-arcade-1</p>
      <p><span class="icon"><i class="agc agc-arcade-2"></i></span> agc-arcade-2</p>
      <p><span class="icon"><i class="agc agc-arcade-3"></i></span> agc-arcade-3</p>
      <p><span class="icon"><i class="agc agc-arcade-4"></i></span> agc-arcade-4</p>
      <p><span class="icon"><i class="agc agc-arcade-5"></i></span> agc-arcade-5</p>
      <p><span class="icon"><i class="agc agc-arcade-6"></i></span> agc-arcade-6</p>
      <p><span class="icon"><i class="agc agc-mushroom"></i></span> agc-mushroom</p>
    </div>
    <hr>
    <div class="content">
      <h1>Heading 1</h1>
      <figure class="image">
        <img src="../assets/img/fpo-landscape.png" alt="">
        <figcaption>
          <p>Figure</p>
        </figcaption>
      </figure>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <p>Lorem <b>ipsum</b> <i>dolor</i> sit <a href="">amet</a>, consectetur adipisicing elit. Enim repellendus laborum rem ratione repudiandae fuga libero harum laboriosam deserunt rerum explicabo similique cum magnam et iure voluptas ipsum quae, modi.</p>
      <p>Voluptate aliquam commodi ex, necessitatibus ut velit eos dolores quo officia quae ipsa facere illo incidunt recusandae at quia molestias, atque, explicabo, nostrum ullam quis! Quos quam nulla sunt aliquid!</p>
      <hr>
      <h1 class="title is-1">Title 1</h1>
      <h2 class="title is-2">Title 2</h2>
      <h3 class="title is-3">Title 3</h3>
      <h4 class="title is-4">Title 4</h4>
      <h5 class="title is-5">Title 5</h5>
      <h6 class="title is-6">Title 6</h6>
      <h1 class="subtitle is-1">Subtitle 1</h1>
      <h2 class="subtitle is-2">Subtitle 2</h2>
      <h3 class="subtitle is-3">Subtitle 3</h3>
      <h4 class="subtitle is-4">Subtitle 4</h4>
      <h5 class="subtitle is-5">Subtitle 5</h5>
      <h6 class="subtitle is-6">Subtitle 6</h6>
      <hr>
      <div class="notification is-primary">
        <button class="delete"></button> Primary: lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="notification is-link">
        <button class="delete"></button> Link: lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="notification is-info">
        <button class="delete"></button> Info: lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="notification is-success">
        <button class="delete"></button> Success: lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="notification is-warning">
        <button class="delete"></button> Warning: lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="notification is-danger">
        <button class="delete"></button> Danger: lorem ipsum dolor sit amet, consectetur
      </div>
      <ol>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Consectetur ducimus officiis tempora dolor!</li>
        <li>Nihil, excepturi nulla consectetur omnis.</li>
      </ol>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Aliquid sed, quam magni fuga.</li>
        <li>Vero dolorum, tempora laborum ipsam.</li>
      </ul>
      <table>
        <tr>
          <th>Lorem</th>
          <th>Velit</th>
          <th>Iusto</th>
        </tr>
        <tr>
          <td>Lorem ipsum dolor.</td>
          <td>Ipsa magni, iste.</td>
          <td>Magnam, dolor, aperiam!</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor.</td>
          <td>Sit unde, corporis.</td>
          <td>Ea illum, repellendus.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor.</td>
          <td>Libero, voluptas, ratione.</td>
          <td>Reiciendis maxime, molestiae!</td>
        </tr>
      </table>
    </div>
  {{/content}}
{{/extend}}
