---
title: "Home"
---

{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero hero-main is-dark is-large" data-headerbg="transparent" style="background-image:url(../assets/img/fpo-video-poster.png)">
      <div class="hero-body">
        <div class="container">
          <a href="#"><h1 class="title is-2">Empowering the Web <span class="icon"><i class="ion-android-arrow-dropright-circle"></i></span></h1></a>
        </div>
      </div>
    </section>
    <section class="hero is-light" data-headerbg="light">
      <div class="hero-body">
        <div class="container content">
          <p class="subtitle is-mono is-4">Agaric is a web development company that seeks to harness the power of a hypha-like network of knowledge and technology to help our clients deliver genuine and meaningful online experiences that transform societies.</p>
          <p class="subtitle is-mono is-4">Find out how Agaric can help you gain power over your online technology.</p>
        </div>
      </div>
    </section>
  {{/content}}
  {{#content "content"}}
    {{> work_tiles }}
  {{/content}}
  {{#content "postcontent"}}
    {{> related_events }}
    {{> recent_updates }}
    {{> show_and_tell }}
  {{/content}}
{{/extend}}
